
@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

.hero {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    overflow:hidden;
    position: relative;

    font-family: Poppins;
}

.hero .bg {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.hero .bg img {
    height: 100%;
    width: 100%;
    object-fit:cover;
    filter: blur(2px);
    display: block;
}
.hero .bg::after {
    content: '';
    width:100%;
    height:100%;
    position: absolute;
    inset: 0;
    background-image: 
    linear-gradient(to top, black 2%, transparent 40%),
    linear-gradient(to bottom, black 2%, transparent 40%);
}

.hero .content {
    position: absolute;
    left: 10%;
    top: 15%;
    width: 80%;
    max-width: 700px;
    z-index: 1;
    color: white;

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.hero .content h1 {
    font-family: 'ICA Rubrik';
    font-size: 8em;
    line-height: 1em;
    color: white;
}

.hero .content .info {
    font-size: 2em;
    color: white;
}

.hero .content .uid input {
    z-index: 100;

    height: 3em;
    width: 24em;

    font-family: 'Poppins';
    font-size: 1.1rem;
    border-radius:15px;
    text-align: center;
}
@media screen and (max-width: 800px) {
    .hero .content {
        flex-direction: column;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
        top: 10%;
        width: 90%;
        text-align: center;
    }

    .hero .content .uid input {
        width: 100%;
    }
}