
@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

@font-face {
    font-family:'ZZZ';
    src:url('../../assets/fonts/en-us.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

.player-card {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;

    font-family: 'ZZZ';
}

.player-card .bg {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.player-card .bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(10px);
    display: block;
}
.player-card .bg::after {
    content: '';
    width:100%;
    height:100%;
    position: absolute;
    inset: 0;
    background-image: 
    linear-gradient(to top, black 10%, transparent 80%),
    linear-gradient(to bottom, black 5%, transparent 40%);
}

.player-card .card {
    position:absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    width: 40%;
    height: 220px;
    
    
    z-index: 1;
    color: white;
}

.player-card .card .namecard {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.player-card .card .namecard img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /*
    display:block;
    z-index: 1;
    */
    border-radius: 20px;
}

.player-card .card .content {
    position: relative;
    z-index: 2;

    height: 100%;
    padding: 1.5rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.player-card .card .icon img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
}

.player-card .card .stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.player-card .card .stats .name {
    font-size: 1.5rem;
    font-weight: 600;
}

.player-card .card .stats .lvl {
    font-size: 1rem;
    opacity: 0.8;
}

.showcase {
    font-family: 'ZZZ';
}

.showcase .agents .thumbnail {
    position: absolute;
    bottom: 30px;
    z-index: 11;
    display: flex;
    gap: 25px;
    width: 100%;
    height: 300px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}
.showcase .agents .thumbnail .item {
    width: 180px;
    height: 250px;
    filter: brightness(0.5);
    transition: 0.5s;
    flex-shrink: 0;
}
.showcase .agents .thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
}
.showcase .agents .thumbnail .item.active {
    filter: brightness(1); 
}
.showcase .agents .thumbnail .item .content {
    position: absolute;
    inset: auto 10px 10px 10px;
    color: white;
}

.agent {
    font-family: 'ZZZ';
    height: 100vh;
    margin-top: auto;
    position: relative;
    overflow: hidden;
    display: block;
}

.agent .bg {
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: 0;
    background-color:black;
}

.agent .bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:brightness(80%);
}
.agent .bg::after {
    content: '';
    width:100%;
    height:100%;
    position: absolute;
    inset: 0;
    left: 0;
    bottom: 0;
    background-image: 
    linear-gradient(to top, black 10%, transparent 80%),
    linear-gradient(to bottom, black 10%, transparent 40%);
}


.agent .left-container {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    position: absolute;

    left:2%;
    top:5%;
    bottom: 5%;
    width: 300px;
    max-width: 20%;
}

.agent .left-container .stats {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    padding: 5px;
    font-size: 1rem;

    border-radius: 20px;
}
.agent .left-container .stats .stat {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
}
.agent .left-container .stats .stat:hover {
    background: rgba(255,255,255,0.12);
    transition: 0.15s;
}

.agent .left-container .char-info {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;

    margin-bottom: 0;
    padding-bottom: 10px;

    border-radius: 20px;
    color: white;
}
.char-info .level {
    display: flex;
    flex-direction: row;
}
.char-info .level p {
    align-self:flex-end;
}

.agent .mid-container {
    position: absolute;
    bottom: 5%;

    left: 50%;
    transform: translateX(-50%);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;

    height: 180px;
    max-height: 15%;

}

.agent .mid-container .main-skills {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: white;
}

.agent .mid-container .core-skills {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.core-skill img {
    filter: brightness(0) invert(1);
}


.agent .right-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: space-between;
    
    position: absolute;
    right: 2%;
    top: 5%;
    bottom: 5%;

    color: white;

    width: 400px;
    max-width: 30%;
}

.agent .right-container .discs {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.agent .right-container .discs .disc {
    display: grid;
    grid-template-columns: auto 1fr 2fr;
    gap:1.5em;
    align-items: center;
}
.disc .main-stat {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5em;
}
.disc .substats {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.6em 1.2em;
}
.disc .stat {
    display: flex;
    align-items: center;
    gap: 0.5em;
}


.agent .right-container .wengine {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    align-items: center;
    gap: 0.5em;

    margin-bottom: 0;
    padding-bottom: 10px;

    border-radius: 20px;
    color: white;
}
.wengine .grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 0.8em 1.2em;
    align-items:center;
}
.wengine .w-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wengine .stats {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}
.wengine .grid .stats .stat {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4em;
}
.wengine .level, .wengine .refine {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
}
